@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --avatar-ref: 32px;
    --padding-ref: 20px;
    --radius-ref: 15px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    align-items: center;
    background: #292A2D;
    display: flex;
    justify-content: center;
}

body section.card {
    height: auto;
    width: 450px;
}

body section.card .card__content {
    background: #fff;
    border-bottom-left-radius: calc(var(--radius-ref) / 2);
    border-bottom-right-radius: calc(var(--radius-ref) / 2);
    border-top-left-radius: var(--radius-ref);
    border-top-right-radius: var(--radius-ref);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .85);
    display: flex;
    height: 180px;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    padding: var(--padding-ref);
    padding-bottom: calc((var(--padding-ref) + var(--radius-ref)));
}

body section.card .card__content .title {
    font-size: 14px;
    margin-top: 0;
}

body section.card .card__content .description {
    color: #303443;
    display: block;
    flex: 0 1 auto;
    font-size: 11px;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

body section.card .card__author {
    align-items: center;
    background-image: linear-gradient(to right, #5F21B7, #8D45FF);
    border-radius: var(--radius-ref);
    height: calc(var(--avatar-ref) + var(--padding-ref) * 2);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: calc(var(--radius-ref) * -1);
    padding: var(--padding-ref);
    width: calc(100% - var(--padding-ref) * 2);
}

body section.card .card__author .user {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
}

body section.card .card__author .user .user__avatar {
    border-radius: var(--avatar-ref);
    height: var(--avatar-ref);
    margin: 0;
    width: var(--avatar-ref);
}

body section.card .card__author .user .user__fullname {
    color: #E8FF49;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    margin-left: 10px;
}

body section.card .card__author a.profile {
    align-items: center;
    color: #E8FF49;
    display: flex;
    justify-content: center;
}

@media (max-width: 575.98px) {
    body section.card {
        width: 300px;
    }    
}